<div class="home content">
    <div class="text-home pt-3">
      <p class="mb-2">Tu cherches un nom pour ton chien ?</p>
      <p class="mb-2">Tu peux vérifier ça avec</p>
    </div>
    <%= link_to image_tag("/assets/woofwoof.png", class: 'button-logo'), new_info_path, class: "img-back" %>
    <div class="back-home"></div>
</div>
